main.shop-all {
  header {
    img {
      width: 100%;
    }
    position: relative;
    .banner-content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      div {
        font-size: 14px;
      }
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 32px;
      }
    }
  }
}
