.products .product {
  position: relative;
  cursor: pointer;
  height: 340px;
  &:hover {
    .main-image {
      z-index: -1;
    }
    .hover-image {
      z-index: 1;
    }
    .about-product {
      bottom: 0;
    }
    .colors {
      display: block;
    }
  }
  .main-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .about-product {
    position: absolute;
    bottom: -21px;
    left: 0;
    z-index: 2;
    width: 100%;
    .info {
      position: relative;
    }
    .status {
      background-color: #f3f2f1ad;
      font-size: 14px;
      text-align: center;
    }

    .top-info {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      align-items: center;
      .price {
        font-weight: bold;
        font-size: 13px;
      }
      .name {
        font-size: 14px;
      }
    }
  }
  .colors {
    position: absolute;
    left: 0;
    bottom: -50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
    &:hover {
      display: block;
    }
    .list-colors {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-top: 34px;
      li {
        padding-left: 12px;
        &:hover {
          // &:hover {

          // }
          a {
            transform: scale(1.2);
            border-color: #333;
          }
        }
        a {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid #ddd;
          background-color: red;
          display: flex;
          transition: transform 0.2s;
          overflow: hidden;
          &.selected {
            border-color: #333;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
