.search-results {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  max-height: 400px;
  overflow-y: auto;
  z-index: 999999999999999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  li {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
    p.keyword {
      text-align: start;
      margin: 0;
      padding-left: 10px;
      font-weight: 600;
    }
  }
}
