body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
h1 {
  margin: 0;
  padding: 0;
}
.special-head h2 {
  text-transform: uppercase;
  color: rgb(48, 48, 48);
  font-size: 30px;
  font-weight: 900;
}

.home .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.2s ease-in;
  flex-wrap: wrap;
}
.home .boxes .box {
  width: calc(100% / 3);
  background-color: black;
  transition: 0.2s ease-in;
  height: 450px;
  color: #fff;
}

main.home .custom-container picture img {
  width: 100%;
}

main.home header {
  position: relative;
}

main.home header .buttons {
  position: absolute;
  display: flex;
  bottom: 15%;
  column-gap: 10px;
  left: 10%;
}
main.home header .buttons a {
  text-decoration: none;
  background-color: #303030;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #303030;
}

main.home header .buttons a:hover {
  background-color: transparent;
  border: 2px solid #303030;
  color: #303030;
}

@media (max-width: 767px) {
  main.home header .buttons {
    left: 50%;
    transform: translateX(-50%);
  }
  main.home header .buttons a {
    background-color: #fff;
    border: 2px solid #fff;
    color: #303030;
  }
  main.home header .buttons a:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
}
main.home section.new-arrivals .filter-by ul {
  display: flex;
  column-gap: 10px;
  align-items: center;
  border: none;
}
main.home section.new-arrivals .filter-by ul span {
  color: #666666;
  font-size: 13px;
}
main.home section.new-arrivals .filter-by button {
  border: none;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #303030;
  font-weight: bold;
}
main.home section.new-arrivals .filter-by button.active {
  border-bottom: 2px solid #303030;
}
main.home .filter-by .collections {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 20px;
}
main.home .filter-by .collections .collection-box {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(-100%);
  transition: 0.3s ease;
  max-width: 220px;
  /* width: 218px;
    min-width: 218px; */
}
main.home .filter-by .tab-content .show .collections .collection-box {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
}
main.home .filter-by .collections .collection-box img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
main.home .filter-by .collections .collection-box .link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
main.home .filter-by .collections .collection-box .link a {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.home .filter-by .collections .collection-box:hover .link {
  background-color: transparent;
}
main.home .filter-by .collections .collection-box:hover img {
  transform: scale(110%);
}
main.home .banner-image .grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

main.home .banner-image .grid-container .top-images {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2px;
}
@media (max-width: 767px) {
  main.home .banner-image .grid-container .top-images {
    grid-auto-flow: row;
  }
}
main.home .banner-image .grid-container .bottom-images {
  display: grid;
  grid-gap: 2px;
}

main.home .banner-image .grid-container .grid-item img {
  width: 100%;
}

main.home section.latest-news {
  background-color: rgb(247, 247, 247);
}
main.home section.latest-news .box-news {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 405px;
}
main.home section.latest-news .box-news .image {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}
main.home section.latest-news .box-news .image img {
  width: 100%;
  transition: 0.3s ease-in;
  will-change: transform;
  transform-origin: 50% 60%;
}
main.home section.latest-news .box-news .image:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in;
  z-index: 1;
}

main.home section.latest-news .box-news .date,
main.home section.latest-news .box-news .name {
  position: absolute;
  z-index: 2;
}
main.home section.latest-news .box-news .date {
  left: 20px;
  top: 0;
  width: 70px;
  height: 70px;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  font-weight: bold;
  background-color: #000;
  z-index: 2;
}

main.home section.latest-news .box-news .name {
  bottom: 0;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
main.home section.latest-news .box-news:hover .image img {
  transform: scale(1.02);
  backface-visibility: hidden;
}
main.home section.latest-news .box-news:hover .image:before {
  background-color: rgba(0, 0, 0, 0.3);
}
main.home section.latest-news .box-news .box-content {
  text-align: center;
  padding: 5px;
  position: relative;
  padding-bottom: 50px;
}
main.home section.latest-news .box-news .box-content .title h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #303030;
}
main.home section.latest-news .box-news .box-content .desc p {
  font-size: 13px;
  color: #999999;
  margin-bottom: 5px;
}
main.home section.latest-news .box-news span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #303030;
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 2px solid #303030;
  transition: 0.3s ease-in;
}
main.home section.latest-news .box-news:hover span {
  color: #999999;
  border-bottom-color: #999999;
}
main.home section.latest-news .all-news-btn button {
  background-color: transparent;
  border: 2px solid #303030;
  outline: none;
  font-size: 14px;
  padding: 0 20px;
  min-width: 133px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-transform: lowercase;
  height: 40px;
}
main.home section.latest-news .all-news-btn button:hover {
  background-color: rgba(48, 48, 48);
  color: #fff;
}

main.home section.latest-social .grid-container {
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;

  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

main.home section.latest-social .grid-container img {
  width: 100%;
  height: 100%;
}
main.home section.latest-social .grid-container .left-top-left-image {
  grid-column: 1 / 2;
  grid-row: 1/2;
}
main.home section.latest-social .grid-container .left-top-right-image {
  grid-column: 2/3;
  grid-row: 1/2;
}
main.home section.latest-social .grid-container .center-image {
  grid-column: 3/4;
  grid-row: 1/3;
}

main.home section.latest-social .grid-container .left-bottom-left-image {
  grid-column: 1/2;
  grid-row: 2/3;
}
main.home section.latest-social .grid-container .left-bottom-right-image {
  grid-column: 2/3;
  grid-row: 2/3;
}
main.home section.latest-social .grid-container .right-top-image {
  grid-column: 4/5;
  grid-row: 1/2;
}
main.home section.latest-social .grid-container .right-bottom-image {
  grid-column: 4/5;
  grid-row: 2/3;
}
main.home section.latest-social .view-more-btn {
  width: 100%;
  display: none;
  margin-top: 30px;
}
main.home section.latest-social .view-more-btn a {
  text-decoration: none;
  background-color: #303030;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #303030;
  margin: auto;
  cursor: pointer;
}

main.home section.latest-social .view-more-btn a:hover {
  background-color: transparent;
  border: 2px solid #303030;
  color: #303030;
}
@media (max-width: 508px) {
  main.home section.latest-social .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0;
    overflow: hidden;
    row-gap: 0;
  }
  main.home section.latest-social .grid-container div {
    width: calc((100% - 20px) / 2);
    margin: 5px;
  }
  .left-bottom-left-image,
  .left-bottom-right-image,
  .right-bottom-image {
    display: none;
  }
  main.home section.latest-social .view-more-btn {
    display: block;
  }
}

.swiper-container {
  width: 100% !important;
  max-width: 100% !important;
  max-height: 100vh !important;
  min-height: 0 !important;
  min-width: 0 !important;
}
.swiper-pagination {
  bottom: -6px !important;
}
.swiper {
  padding-bottom: 30px !important;
}

.swiper-pagination-bullet {
  background-color: #999999 !important;
  height: 2px !important;
  border-radius: 0 !important;
  width: 50px !important;
}
.swiper-pagination-bullet-active {
  background-color: #303030 !important;
}
.custom-container {
  width: 100%;
  transition: 0.2s ease-in;
}
.custom-container.nav-open {
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: 0.2s ease-in;
}
.custom-container .top-bar {
  margin-top: 54px;
  padding: 10px 0;
  background: #fff;
}
.custom-container .top-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 13px;
  height: 100%;
  font-weight: bold;
}

main.shop-all header {
  position: relative;
}
main.shop-all header img {
  width: 100%;
}
main.shop-all header .banner-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
main.shop-all header .banner-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 32px;
}
main.shop-all header .banner-content div {
  font-size: 14px;
}
main.shop-all section.products_shop_all {
  padding: 80px 0;
}
main.shop-all section.products_shop_all .row {
  row-gap: 50px;
}
main.shop-all section.products_shop_all .head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #dcdcdc;
}
main.shop-all section.products_shop_all .head-section .filter {
  display: flex;
}

main.shop-all section.products_shop_all .head-section .filter button {
  background-color: transparent;
  color: #303030;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 0;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  button[aria-expanded="true"] {
  background-color: #fff;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
main.shop-all section.products_shop_all .head-section .filter .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: -2px !important;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu {
  padding: 20px;
  width: 360px;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  .wrap {
  display: flex;
  justify-content: space-between;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  .wrap
  .one-column,
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  .wrap
  .two-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  li {
  display: flex;
  align-items: center;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input {
  position: relative;
  width: 20px;
  height: 20px;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #090909;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  label {
  margin-left: 10px;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#metalCheckBox:before {
  background-color: #999999;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#whiteCheckBox:before {
  background-color: #ffffff;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#beigeCheckBox:before {
  background-color: #f5f5dc;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#yellowCheckBox:before {
  background-color: #ffff00;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#orangeCheckBox:before {
  background-color: #ffa500;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#redCheckBox:before {
  background-color: #ff0000;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#pinkCheckBox:before {
  background-color: #ffc0cb;
}

main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#purpleCheckBox:before {
  background-color: #800080;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#lightBlueCheckBox:before {
  background-color: #add8e6;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#mediumBlueCheckBox:before {
  background-color: #0000ff;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#darkBlueCheckBox:before {
  background-color: #00008b;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#greenCheckBox:before {
  background-color: #008000;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#brownCheckBox:before {
  background-color: #a52a2a;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#greyCheckBox:before {
  background-color: #808080;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#blackCheckBox:before {
  background-color: #000000;
}
main.shop-all
  section.products_shop_all
  .head-section
  .filter
  .by-color
  .dropdown-menu
  input#otherCheckBox:before {
  background-color: #999999;
}
.products_shop_all .products {
  /* display: flex;
  padding: 45px 18px 45px 30px;

  width: 100%;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 12px; */
}
.products_shop_all .product {
  position: relative;
  cursor: pointer;
  height: 340px;
  /* position: relative;
  cursor: pointer;
  width: calc(25% - 12px);
  min-height: 420px; */
}
.products_shop_all .product .main-image,
.products_shop_all .product .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.products_shop_all .product .main-image {
  z-index: 1;
}
.products_shop_all .product .hover-image {
  z-index: -1;
}
.products_shop_all .product:hover .main-image {
  z-index: -1;
}
.products_shop_all .product:hover .hover-image {
  z-index: 1;
}
.products_shop_all .product .about-product {
  position: absolute;
  bottom: -21px;
  left: 0;
  z-index: 2;
  width: 100%;
}
.products_shop_all .product .about-product .status {
  background-color: #f3f2f1ad;
  font-size: 14px;
  text-align: center;
}

.products_shop_all .product .about-product .info {
  position: relative;
}
.products_shop_all .product .about-product .top-info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  align-items: center;
}
.products_shop_all .product .about-product .top-info .name {
  font-size: 14px;
}
.products_shop_all .product .about-product .top-info .price {
  font-weight: bold;
  font-size: 13px;
}
.products_shop_all .product:hover .about-product {
  bottom: 0;
}
.products_shop_all .product .colors {
  position: absolute;
  left: 0;
  bottom: -50px;
  /* height: 100px; */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}
.products_shop_all .product .colors .list-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 34px;
}
.products_shop_all .product .colors .list-colors li {
  padding-left: 12px;
}
.products_shop_all .product .colors .list-colors li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  display: flex;
}
.products_shop_all .product:hover .colors,
.products_shop_all .product .colors:hover {
  display: block;
}

/* 

.products_shop_all .product:hover .colors .jeans_blue {
  background-color: blue;
}
.products_shop_all .product:hover .colors .jeans_lightBlue {
  background-color: aqua;
}
.products_shop_all .product:hover .colors .jeans_black {
  background-color: black;
}
.products_shop_all .product:hover .colors .jeans_gray {
  background-color: gray;
} */

main.customProduct .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
}

main.customProduct .product-container .product-view {
  grid-column: span 2;
}
main.customProduct .product-container .product-details {
  grid-column: span 1;
}

main.customProduct .product-container .product-details .head h1 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

main.customProduct .product-container .product-details .price {
  font-weight: bold;
  font-size: 14px;
}
main.customProduct .product-container .product-details .price span {
  font-weight: normal;
}

main.customProduct .product-container .product-details .available-color p,
main.customProduct .product-container .product-details .available-color strong {
  color: #6c757d;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
}
main.customProduct
  .product-container
  .product-details
  .available-color
  strong
  span {
  text-decoration: underline;
  font-weight: normal;
}

main.customProduct
  .product-container
  .product-details
  .available-color
  .list-colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
main.customProduct
  .product-container
  .product-details
  .available-color
  .list-colors
  a {
  width: 60px;
  height: 60px;
  background-color: #6c757d;
  border-radius: 50%;
}

main.customProduct .product-container .product-details .sizing p {
  font-weight: 700;
  font-size: 12px;
  color: #6c757d;
  margin: 0;
}
main.customProduct .product-container .product-details .sizing span {
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
  margin: 10px 0;
}
main.customProduct .product-container .product-details .list-size-waist,
main.customProduct .product-container .product-details .list-size-length {
  margin-top: 8px;
}

main.customProduct .product-container .product-details .list-size-waist button,
main.customProduct
  .product-container
  .product-details
  .list-size-length
  button {
  background-color: transparent;
  border-color: rgb(108, 117, 125);
  color: rgb(32, 32, 32);
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
  height: 40px;
  width: 40px;
}

main.customProduct
  .product-container
  .product-details
  .list-size-waist
  button.disable-btn,
main.customProduct
  .product-container
  .product-details
  .list-size-length
  button.disable-btn {
  border-color: rgb(138, 147, 154);
  color: rgb(138, 147, 154);
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25.5px,
    rgb(138, 147, 154) 26.5px,
    rgb(138, 147, 154) 26.5px
  );
  cursor: not-allowed;
}

main.customProduct .product-container .product-details .alert-available p {
  color: rgb(18, 161, 0);
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 5px;
}

main.customProduct .product-container .product-details .actions {
  display: flex;
  column-gap: 8px;
}
main.customProduct .product-container .product-details .actions button {
  background-color: rgb(0, 56, 95);
  border: 2px solid rgb(0, 56, 95);
  color: #fff;
  font-size: 14px;
  padding: 8px;
  flex: 1;
}

main.customProduct
  .product-container
  .product-details
  .actions
  .add-to-wishlist {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
